<!-- About Section -->
<header>
    <section id="about">
        <div class="container body-text">
            <p>About me</p>
            <img class="img-responsive" src="img/profile.png" alt="profile-pic" />
            <p>small talk about me.</p>
            <p> social networks buttons</p>
            <div class="social">
                <a href ="#"><i class="fa-brands fa-facebook fa-2xl"></i></a>
                <a href ="#"><i class="fa-brands fa-instagram fa-2xl" href="#"></i></a>
                <a href ="#"><i class="fa-brands fa-pinterest fa-2xl" href="#"></i></a>
            </div>
        </div>
    </section>
</header>