<!-- About Section -->
<header>
    <section id="about">
        <div class="container body-text">
            <p>About me</p>
            <img class="img-responsive" src="img/profile.png" alt="profile-pic" />
            <p>small talk about me.</p>
            <p> social networks buttons</p>
            <a class="fa-brands fa-facebook fa-2xl" href="#"></a>
            <a class="fa-brands fa-twitter fa-2xl" href="#"></a>
            <a class="fa-brands fa-google-plus fa-2xl" href="#"></a>
            <a class="fa-brands fa-youtube fa-2xl" href="#"></a>
            <a class="fa-brands fa-github fa-2xl" href="#"></a>
        </div>
    </section>
</header>