<!-- About Section -->
<header>
    <section id="about">
        <div class="container body-text">
            <p>About me</p>
            <img class="img-responsive" src="img/profile.png" alt="profile-pic" />
            <p>small talk about me.</p>
            <p> social networks buttons</p>
            <div class="content">
                <div class="social-icons">
                  <ul>
                    <li>
                      <a class="fa-brands fa-facebook" href="#"></a>
                    </li>
                    <li>
                      <a class="fa-brands fa-twitter" href="#"></a>
                    </li>
                    <li>
                      <a class="fa-brands fa-google-plus" href="#"></a>
                    </li>
                    <li>
                      <a class="fa-brands fa-youtube" href="#"></a>
                    </li>
                    <li>
                      <a class="fa-brands fa-github" href="#"></a>
                    </li>
                  </ul>
                </div>
              </div>
        </div>
    </section>
</header>