<style>
    #follow-buttons {position: fixed; top: 320px; right: -50px; height: 164px;}
    #follow-buttons > div {
        position: relative;
        right: 0;
        -webkit-transition: right 0.2s ease;                  
        -moz-transition: right 0.2s ease;                 
        -o-transition: right 0.2s ease;   
        -ms-transition: right 0.2s ease;          
        transition: right 0.2s ease;  
        line-height: 40px; 
    }
    #follow-buttons > div:hover {position: relative; right: 50px;}
    #follow-buttons > div {background: #444; text-align: left; width: 90px; height: 40px; color: white; border-bottom: 1px solid rgba(255,255,255,0.15);}
    #follow-buttons > div > div {background: transparent; font-size: 12px; line-height: 32px; width: 40px; display: inline-block; vertical-align: middle; text-align: center;}
    #follow-buttons > div:first-child {border-top-left-radius: 3px;}
    #follow-buttons > div:last-child {border-bottom: 0; border-bottom-left-radius: 3px;}
    #follow-buttons > div:hover {cursor: pointer;}
    #follow-buttons > div.facebook:hover {background: #3B5998;}
    #follow-buttons > div.spoonflower:hover {background: #7CDAD3;}
    #follow-buttons > div.twitter:hover {background: #55ACEE;}
    #follow-buttons > div.linkedin:hover {background: #0077b5;}
    #follow-buttons > div.pinterest:hover {background: #CB2027;}
    #follow-buttons > div.gplus:hover {background: #dd4b39;}
    #follow-buttons > div.mail:hover {background: #7D7D7D;}
    #follow-buttons > div.instagram:hover {background: #C73B92;}
    #follow-buttons > div.instagram > div {line-height: 32px;}
    
    #follow-buttons > div svg {height: 20px; fill: #bbb; margin-top: 10px;}
    #follow-buttons > div:hover svg {fill: #fff;}
    #follow-buttons > div.facebook svg {height: 22px; margin-top: 9px;}
    #follow-buttons > div.spoonflower svg {height: 24px; margin-top: 9px;}
    #follow-buttons > div.twitter svg {height: 24px; margin-top: 8px;}
    #follow-buttons > div.linkedin svg {height: 23px; margin-top: 7px;}
    #follow-buttons > div.pinterest svg {height: 24px; margin-top: 9px;}
    #follow-buttons > div.instagram svg {height: 24px; margin-top: 8px;}
    #follow-buttons > div.gplus svg {height: 21px; margin-top: 9px; position: relative; left: 1px;}
    #follow-buttons > div.mail svg {height: 18px; margin-top: 11px;}
    
    @media (max-width: 900px) {
        #follow-buttons {display: none;}
    }
    </style>
    
    
    <div id="follow-buttons">
        {% if site.facebook_url %}
        <div class="facebook" onclick="window.open('{{ site.facebook_url }}');">
            <div>
                <svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                <path d="M1343 12v264h-157q-86 0-116 36t-30 108v189h293l-39 296h-254v759h-306v-759h-255v-296h255v-218q0-186 104-288.5t277-102.5q147 0 228 12z"/>
                </svg>
            </div>
        Follow
        </div>
        {% endif %}
        {% if site.instagram_url %}
        <div class="instagram" onclick="window.open('{{ site.instagram_url }}');">
            <div>
                <svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                <path d="M1152 896q0-106-75-181t-181-75-181 75-75 181 75 181 181 75 181-75 75-181zm138 0q0 164-115 279t-279 115-279-115-115-279 115-279 279-115 279 115 115 279zm108-410q0 38-27 65t-65 27-65-27-27-65 27-65 65-27 65 27 27 65zm-502-220q-7 0-76.5-.5t-105.5 0-96.5 3-103 10-71.5 18.5q-50 20-88 58t-58 88q-11 29-18.5 71.5t-10 103-3 96.5 0 105.5.5 76.5-.5 76.5 0 105.5 3 96.5 10 103 18.5 71.5q20 50 58 88t88 58q29 11 71.5 18.5t103 10 96.5 3 105.5 0 76.5-.5 76.5.5 105.5 0 96.5-3 103-10 71.5-18.5q50-20 88-58t58-88q11-29 18.5-71.5t10-103 3-96.5 0-105.5-.5-76.5.5-76.5 0-105.5-3-96.5-10-103-18.5-71.5q-20-50-58-88t-88-58q-29-11-71.5-18.5t-103-10-96.5-3-105.5 0-76.5.5zm768 630q0 229-5 317-10 208-124 322t-322 124q-88 5-317 5t-317-5q-208-10-322-124t-124-322q-5-88-5-317t5-317q10-208 124-322t322-124q88-5 317-5t317 5q208 10 322 124t124 322q5 88 5 317z"/>
                </svg>
            </div>
        Follow
        </div>
        {% endif %}
        {% if site.kofi_url %}
        <div class="kofi" onclick="window.open('{{ site.kofi_url }}');">
            <div>
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M23.881 8.948c-.773-4.085-4.859-4.593-4.859-4.593H.723c-.604 0-.679.798-.679.798s-.082 7.324-.022 11.822c.164 2.424 2.586 2.672 2.586 2.672s8.267-.023 11.966-.049c2.438-.426 2.683-2.566 2.658-3.734 4.352.24 7.422-2.831 6.649-6.916zm-11.062 3.511c-1.246 1.453-4.011 3.976-4.011 3.976s-.121.119-.31.023c-.076-.057-.108-.09-.108-.09-.443-.441-3.368-3.049-4.034-3.954-.709-.965-1.041-2.7-.091-3.71.951-1.01 3.005-1.086 4.363.407 0 0 1.565-1.782 3.468-.963 1.904.82 1.832 3.011.723 4.311zm6.173.478c-.928.116-1.682.028-1.682.028V7.284h1.77s1.971.551 1.971 2.638c0 1.913-.985 2.667-2.059 3.015z" />
                </svg>
            </div>
        Follow
        </div>
        {% endif %}
    </div>